{% extends "app/index.html" %}
{% load i18n %}
{% block content %}

    <div class="card row">
        <div class="card-header center-align" style="padding-top: 20px; margin-bottom: 20px">
            <h4>{% trans "Liste de courses" %}</h4>
        </div>
        <div style="padding-left: 10px">
            <a class="btn-floating btn-small waves-effect waves-light green"
               href="{% url "shopping-list-item-create" %}">
                <i class="material-icons">add</i>
            </a>

        </div>
        <div class="container-fluid row">
            <div class="col-md-12">

                <table class="highlight responsive-table centered">
                    <thead>
                    <tr>
{#                        <th scope="col">#</th>#}
                        <th scope="col">{% trans "Quantité" %}</th>
                        <th scope="col">{% trans "Ingrédient" %}</th>
                        <th scope="col">{% trans "Acheté" %}</th>
                        <th scope="col">{% trans "Modifier" %}</th>
                        <th scope="col">{% trans "Supprimer" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in object_list %}
                        <tr class="align-content-center">
{#                            <th scope="row">{{ forloop.counter }}</th>#}
                            <td>
                                {% if item.quantity %}
                                    {{ item.quantity }}
                                {% endif %}
                            </td>
                            <td>{{ item.ingredient }}</td>
                            <td>{{ item.is_item_bought }}</td>
                            <td>
                                <a href="{% url "shopping-list-item-update" pk=item.id %}"
                                   class="btn-floating btn-small waves-effect waves-light yellow">
                                    <span class="fui-new"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url "shopping-list-item-delete" pk=item.id %}"
                                   class="btn-floating btn-small waves-effect waves-light red">
                                    <span class="fui-new"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}