{% extends "app/index.html" %}
{% load i18n %}
{% block content %}


    <div class="card" style="margin-top: 20vh">
        <div class="card-header center-align" style="padding-top: 20px">
            <h4 class="center-block">{% trans "Modifier élément" %}</h4>
        </div>
        <div class="card-content center-align">
            <div class="card-action">
                <h5 class="text-center amber-text text-darken-1"
                    style="color: #6088af">{{ random_recipe.name|capfirst }}</h5>

                <form method="post">
                    {% csrf_token %}

                    {% if form.ingredient.errors %}
                        <div class="input-field has-error">
                    {% else %}
                        <div class="input-field">
                    {% endif %}
                    <label for="ingredient">{% trans "Ingrédient" %}</label>

                    <input type="text"
                           class="form-control"
                           id="ingredient"
                           name="{{ form.ingredient.name }}"
                           value="{{ form.ingredient.value|default_if_none:"" }}" required>
                    {% for error in form.ingredient.errors %}
                        <small id="passwordHelpBlock" class="form-text text-muted text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>

                    {% if form.quantity.errors %}
                        <div class="input-field has-error">
                    {% else %}
                        <div class="input-field">
                    {% endif %}
                    <label for="quantity">{% trans "Quantité" %}</label>
                    <input type="number"
                           step="0.01"
                           class="form-control"
                           id="quantity"
                           name="{{ form.quantity.name }}"
                           value="{{ form.quantity.value|default_if_none:"" }}" required>
                    {% for error in form.quantity.errors %}
                        <small id="passwordHelpBlock" class="form-text text-muted text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>

                    {% if form.bought.errors %}
                        <div class="input-field has-error">
                    {% else %}
                        <div class="input-field">
                    {% endif %}

                    <select class="form-control" name="{{ form.bought.name }}" id="bought">
                        {% for select in form.bought %}
                            {{ select }}
                        {% endfor %}
                    </select>
                    <label for="bought">{% trans "Acheté" %}</label>

                    {% for error in form.bought.errors %}
                        <small id="passwordHelpBlock" class="form-text text-muted text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary">{% trans "Envoyer" %}</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}