{% extends "app/index.html" %}
{% load i18n %}
{% load custom_tags %}
{% block content %}

    <div class="card">
        <div class="card-header center-align" style="padding-top: 20px">
            <h4>{% trans "Menu de la semaine" %}</h4>
        </div>
        <div class="card-content container-fluid row">
            <div class="card-action">

                {% for day_name, day_recipe in week_menu.items %}
                    <div class="col m6 s12 center-block">
                        <div class="card bg-light grey lighten-3" style="min-height: 230px;">
                            <div class="card-header">{% trans day_name %} {{ day_recipe.date|recipe_date_str_to_date }}</div>
                            <div class="card-action center-align">
                                {% if day_recipe.recipe %}
                                    <h5>
                                        <a href="{% url "recipe-detail" pk=day_recipe.recipe.id %}">
                                            {{ day_recipe.recipe.name|capfirst }}
                                        </a>
                                    </h5>
                                    <div class="text-right" style="margin-top: 50px">
                                        <a href="{% url "daily-recipe-delete" pk=day_recipe.daily_recipe_id %}"
                                           class="waves-effect waves-light btn-small red">
                                            {% trans "Supprimer" %}
                                        </a>
                                        <a href="{% url "define-recipe" %}?date={{ day_recipe.date }}"
                                           class="waves-effect waves-light btn-small yellow darken-1">
                                            {% trans "Changer" %}
                                        </a>
                                    </div>
                                {% else %}
                                    <h5 class="card-title"
                                        style="color: #6088af">{% trans "Recette non définie pour ce jour" %}</h5>
                                    <div class="text-right" style="margin-top: 50px">
                                        <a href="{% url "define-recipe" %}?date={{ day_recipe.date }}"
                                           class="waves-effect waves-light btn-small">{% trans "Choisir" %}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}