{% extends "app/index.html" %}
{% block content %}
    {#    <h2>Menu de la semaine</h2>#}

    <div class="card">
        <div class="card-header">
            <h4>Menu de la semaine</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
{% endblock %}