{% load i18n %}

<nav class="grey darken-4">
    <div class="nav-wrapper container">
        <a id="navbrand" href="{% url 'index' %}" class="brand-logo">Food2</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li>
                    <a class="nav-item" href="{% url "daily-recipe" %}">{% trans "Recette du jour" %}</a>
                </li>
                <li>
                    <a class="nav-item" href="{% url "week-menu" %}">{% trans "Menu de la semaine" %}</a>
                </li>
                <li>
                    <a class="nav-item" href="{% url "shopping-list" %}">{% trans "Liste de courses" %}</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li>
                    <a class="nav-item" href="{% url "logout" %}">{% trans "Se déconnecter" %}</a>
                </li>
            {% else %}
                <li>
                    <a class="nav-item" href="{% url "signin" %}">{% trans "Se connecter" %}</a>
                </li>
                <li>
                    <a class="nav-item" href="{% url "signup" %}">{% trans "Créer un compte" %}</a>
                </li>
            {% endif %}
            <li>
                <a class="nav-item" href="{% url "change-language" lang='en' %}">
                    <span class="flag-icon flag-icon-us flag-icon-squared"></span>
                </a>
            </li>
            <li>
                <a class="nav-item" href="{% url "change-language" lang='fr' %}">
                    <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav grey darken-4" id="mobile">
    {% if user.is_authenticated %}
        <li class="sidemenu-item" style="margin-top: 50px;"><a style="color: white"
                                                               href="{% url "daily-recipe" %}">{% trans "Recette du jour" %}</a>
        </li>
        <li class="sidemenu-item"><a style="color: white"
                                     href="{% url "week-menu" %}">{% trans "Menu de la semaine" %}</a></li>
        <li class="sidemenu-item"><a style="color: white"
                                     href="{% url "shopping-list" %}">{% trans "Liste de courses" %}</a></li>
        <li class="sidemenu-item"><a style="color: white" href="{% url "logout" %}">{% trans "Se déconnecter" %}</a>
        </li>
    {% else %}
        <li class="sidemenu-item" style="margin-top: 50px;"><a style="color: white"
                                                               href="{% url "signin" %}">{% trans "Se connecter" %}</a>
        </li>
        <li class="sidemenu-item"><a style="color: white" href="{% url "signup" %}">{% trans "Créer un compte" %}</a>
        </li>
    {% endif %}
    <li class="sidemenu-item">
        <a href="{% url "change-language" lang='en' %}">
            <span class="flag-icon flag-icon-us flag-icon-squared"></span>
        </a>
    </li>
    <li class="sidemenu-item">
        <a href="{% url "change-language" lang='fr' %}">
            <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
        </a>
    </li>
</ul>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);
    });
</script>