<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Food2</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>

        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav mr-auto col-md-8">
                <li><a href="#fakelink">Recette du jour</a></li>
                <li><a href="#fakelink">Menu de la semaine</a></li>
                <li><a href="#fakelink">Liste de courses</a></li>
            </ul>

            <li class="row">
                <li><a href="#">Se connecter</a></li>
                <li><a href="{% url "create-account" %}">Créer un compte</a></li>
            </li>

        </div>
    </div>
</nav>