<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Food2</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>

        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav mr-auto col-md-8">
                {% if user.is_authenticated %}
                    <li><a href="{% url "daily-recipe" %}">Recette du jour</a></li>
                    <li><a href="{% url "week-menu" %}">Menu de la semaine</a></li>
                    <li><a href="#fakelink">Liste de courses</a></li>
                {% endif %}
            </ul>

            <li class="row">
                {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{% url "signin" %}">Se connecter</a></li>
                    <li><a href="{% url "signup" %}">Créer un compte</a></li>
                {% endif %}

            </li>

        </div>
    </div>
</nav>